@import "../../assets/main.css";

:root {
    --interfacesBarWidthPx: 100px;
    --canvasWidthVw: 70vw;
    --canvasHeightVh: 70vh;
}

.fixedBoxStyle {
    border: 1px #999 solid;
    border-radius: 10px;
    text-align: center;
    position: static;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
.fixedBoxStyle:hover {
    background: rgb(230, 230, 230);
}

.function {
    background-color: lightblue;
    min-width: 50px;
    min-height: 50px;
    width: auto;
    height: auto;
    line-height: 200px;
    border-radius: 10%;
    font-size: 50px;
    text-align: center !important;
    cursor: grab;
    margin: 15px;
}

.subscription {
    background-color: yellow;
    height: auto;
    min-height: 50px;
    line-height: 150px;
    border-radius: 10%;
    padding: 10px;
    font-size: 50px;
    text-align: center;
    cursor: grab;
    margin: 15px;
}

.interfacesBarStyle {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: var(--interfacesBarWidthPx);
    border: solid black 1px;
}

.interfaceTitleStyle {
    font-size: 15px;
    color: black;
    position: absolute;
    margin-top: 5px;
    top: 0%;
}

.boxesContainer {
    height: auto;
    padding: 15px;
    text-align: center;
    max-width: 1500px;
    min-width: 1000px;
    width: fit-content;
    border: solid black 1px;
    background-color: lightcyan;
}

.titleStyle {
    font-size: 40px;
    margin: 20px 0 0 20px;
}

.canvasStyle {
    display: flex;
    position: relative;
    background: white;
    color: black;
    min-height: 800px;
    height: auto;
}

/*.canvasContainerStyle {*/
/*  position: relative;*/
/*  background: white;*/
/*  color: black;*/
/*  width: var(--canvasWidthVw);*/
/*}*/

.toolboxMenu {
    padding: 5px;
    width: auto;
    text-align: center;
    border: 1px solid black;
}

.toolboxTitle {
    font-size: 20px;
    height: 50px;
}
.toolboxContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100% - 68px);
}
.wideBox,
.interfaceBox {
    border: 1px #999 solid;
    border-radius: 10px;
    text-align: center;
    width: 100px;
    height: 30px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tallBox {
    border: 1px #999 solid;
    border-radius: 10px;
    text-align: center;
    width: 20px;
    height: 80px;
    background: white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.interfaceBox {
    height: 50px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}

.switchIcon {
    top: 0;
    width: 50px;
    height: 50px;
}

.iconContainer {
    background: white;
    border-color: #999;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}



.modal-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    transform: translateZ(0);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.5em 1.5em 1.5em 1.5em;
    background-color: #ffffff;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
    /* Center the Modal! */
    .modal-area {
        left: 50%;
        top: 50%;
        height: auto;
        transform: translate(-50%, -50%);
        max-width: 30em;
        max-height: calc(100% - 1em);
    }
}

._modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
    line-height: 1;
    background: #f6f6f7;
    border: 0;
    box-shadow: 0;
    cursor: pointer;
}

._modal-close-icon {
    width: 25px;
    height: 25px;
    fill: transparent;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 2;
}

.modal-body {
    padding-top: 0.25em;
}
._hide-visual {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.scroll-lock {
    overflow: hidden;
    margin-right: 17px;
}

.sub-box {
    margin: 25px;
}

.subscription-container{
    width: 49%;
    border: 1px black solid;
    float: left;
    min-height: 750px;
}
.function-container{
    width: 49%;
    border: 1px black solid;
    float: right;
    min-height: 750px;
}

